@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    /* border: 1px solid red; */
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;

    font-family: 'Work Sans', sans-serif;
    align-items: center;
}

/* shared style */
.all-ptag {
    color: hsl(258, 14%, 35%);


    font-size: 1.25rem;

    font-weight: 500;
}

/* Nav style */
.nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.gamer-nav-container {

    min-height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}


.gamer-nav-items {
    width: 50%;
    display: flex;
    margin-right: 20px;
}

.gamer-nav-items a {
    text-decoration: none;
    margin-right: 20px;
    font-size: 1em;
    color: #3C354F;
    text-align: center;
    padding-right: 10px;

    font-weight: 500;
}

.follow-btn {
    background-color: #0B0223;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;

}

.gamer-logo img {

    width: 80px;
    height: 40px;
    object-fit: cover;

}

.gamer-title {
    font-size: 2.8rem;
    font-weight: 700;
    color: #0B0223;
    margin-left: 3px;

}

.gamer-logo {

    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 200px;
    margin-left: 30px;
}

.G-span {
    color: #FF42A5;


    margin: 0;
    padding: 0;

}

/* Game Banner Section Style */
.game-banner {
    background-image: url(../images/Group14.png);
    background-repeat: no-repeat;
    background-size: contain;
    
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    background-color: #fff;
   

}
.pubg-bnr-img {
    width: 100%;
    height: 100%;
}



.game-banner-txt {
      width: 50%;
    text-align: center;


}

.card {
   
    text-align: start;
    width: 400px;
    height: 200px;
    margin-left: 30px;
    margin-top: 10%;
    margin-bottom: 30%;
    margin-right: 10%;
    box-sizing: border-box;
    box-shadow: 2px #3C354F;


}

.game-banner-txt h2 {
    color: #0B0223;

    font-size: 2rem;
    font-weight: 600;
}

.game-banner-txt h1 {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;


    font-size: 4rem;

    font-weight: 800;

}

.game-banner-img {

    width: 50%;

}

.inside-banner-img {
    display: flex;
    width: 100%;
}

.inside-banner-img .bnr-img1 {
    width: 50%;
    margin: 2px;

}

.inside-banner-img .bnr-img2 {
    width: 50%;
    height: auto;
    margin: 2px;
    padding-bottom: 0;

}

.btn {
    margin-right: 5px;

}

.btn-sign {
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    color: #FFF;
    border-radius: 48px;
    border: 0px;
    padding: 15px 30px;

}

.btn-go {
    border-radius: 48px;
    background: #4EC5F7;
    border: 0px;
    padding: 15px 30px;
    color: #FFF;

}

/* online games style */

.span {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
}

.online-games-section{
    max-width:80vw ;
    margin: 50px auto;
    text-align: center;


}
.online-games-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    }
.img img{
    width: 100%;
}
/* bonus part Online Games */
.image{
    position: relative;
    width: 100%;
    
}
.img_imgs{
    display: block;
    width: 100%;
}
.img__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0 , 0, 0 , 0.6);
    color: #ffffff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: 0.25s;


}

.img__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;

}




.img__overlay:hover{
    opacity: 1;
}
.img__overlay > * {
    transform: translateY(0);

}


 
.img_title{

    font-size: 1.2em;
    font-weight: bold;
}
.img_description{
    font-size: 1em;
    margin-top: 0.25em;
}

/* play instantly section style */

.play {
    max-width: 80vw;
   
    display: flex;
    gap: 200px;
    margin: auto;
}
.play-instantly{
    max-width: 50%;
}
.play-img{
    max-width: 50%;
    position: relative;
}
.horse{
    width: 500px;
}
.img2{
    position: absolute;
    bottom: -30px;
    left: -90px;
    width: 200px;
}

.play-title {
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: right;
}

.play-content {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
}




/* last section style */
.last-main-section{
    background-color: #fef9fb;
    margin-top: 30px;
   
}

.last-section{
    max-width: 80vw;
    margin : auto;

}

.last-section1{
    
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    gap: 10px;
    
}
.last-section2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px 0 ;
    margin: 0 49px ;
   

}
 .last-box{
    display: flex;
   
    padding: 5px;
    background-color: #ffffff;
    border-radius: 40px;
}

.last-box:hover{
    border: 2px solid rgb(238, 17, 164);
    color: rgb(238, 17, 164);
}

.btn-primary:hover{
    border: 2px solid rgb(241, 211, 232);

}
/* footer style */

.footer-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #FFF;
    
}


footer{
    background-color: #0b0223;
    margin: 50px 0 0 0;
}
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
    color: #FFF;
}
.footer-box1{
 display: flex; 
 gap: 30px;  
 justify-content: center;
 flex-wrap: wrap;
}
.footer-box2{
display: flex;
gap: 60px;
justify-content: center;
padding: 60px 5px;
flex-wrap: wrap;
}
.footer-box3{
display: flex;
gap: 60px;
justify-content: center;
margin-bottom: 60px;
}
.footer-box4{
display: flex;
gap: 60px;
justify-content: center;
}
.footer-box5{
display: flex;
justify-content: center;
padding-top: 30px;
}
.footer-box3 img{
    width: 50px;
    height: 50px;
    border-radius: 25px;
} 
/* responsive media queries */
/* for small devices */
@media screen and (max-width:400px) {

    .gamer-nav-container,
    .play ,  .card , .game-banner,
    .gamer-nav-items,
    .gamer-logo ,
    .online-games-img , .footer-box2 , .footer-box3 
     {
        flex-direction: column;

    }

    .gamer-nav-items a {
        margin-top: 5px;
        align-items: center;
        margin-left: 30px;
    }
    .gamer-logo{
        padding-left: 2px;

    }
     .game-banner-txt{
        padding-left:5px;
        padding-right: 10px;

     }
     .online-games-img{
       grid-template-columns:repeat(1 , 1fr);
     }

     .last-section1 , .last-section2  {
         grid-template-columns: repeat(2,1fr); 
       

     }
     
}

@media screen and (min-width:400px) and (max-width:700px) {
    .last-section1 , .last-section2  {
        grid-template-rows: repeat(3 ,1fr); 
        
      

    }
    .game-logo{
        padding-left: 5px;
        padding-right: 5px;
        gap: 10px;
    }
    .pubg-bnr-img{
        width: 400px;
        padding-left: 5px;
    }
    .horse{
        width: 300px;
    }
    .img2{
        bottom: -30px;
        left: -70px;
        width: 150px;
    }
    .play{
        flex-direction: column;
        gap: 70px;
        max-width: 100%;
        align-items: center;
    }
    
}


    
   



